## Goal of the notebook: identifying pairs of homologous genes

#### Approach: 
I have run the mmseqs2 pipeline (Steinegger and Söding 2017, MMseqs2 Enables Sensitive Protein Sequence Searching for the Analysis of Massive Data Sets.” Nature Biotechnology 35 (11): 1026–28.) with parameters --min-seq-id 0.4 (a 40% identity threshold for homologs, similar to the analysis from Rousset et al, Nature Microbiology)

#### Output:
- I identify genes with exactly one homolog, and write these homolog pairs to file, with metadata (as a csv)
- Array where gene pairs with exactly one homolog are have the same value, all genes without homologs or more than one homolog are set to zero.

In [6]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
import time
import os
import re
from Bio.SeqIO.FastaIO import SimpleFastaParser
import pandas as pd
from scipy import stats
import statsmodels as sm
from scipy.stats import poisson,binom

import pathlib

In [2]:
import seaborn as sns

In [3]:
sns.set_theme("notebook")
sns.set_style("ticks")

In [4]:
#current working directory
cwd = os.getcwd()
print(cwd)

/Users/anuraglimdi/Desktop/TnSeq_Paper/LTEE-TnSeq_Paper/Analysis/Part_3_TnSeq_analysis/Exploratory_analysis

In [5]:
#use the pathlib.Path function to get the parent directories-> goal is to navigate to directory with the metadata
# and the breseq output data
path = pathlib.Path(cwd)
repo = path.parents[2]
print(repo) #this should be the base directory for the github repository: the exact path will differ for 
#each unique user

/Users/anuraglimdi/Desktop/TnSeq_Paper/LTEE-TnSeq_Paper

In [8]:
metadata_path = str(path.parents[2])+'/Metadata/'

In [9]:
libraries = ['REL606', 'REL607', 'REL11330', 'REL11333', 'REL11364', 'REL11336', 'REL11339', 'REL11389', 'REL11392', 'REL11342', 'REL11345', 'REL11348', 'REL11367', 'REL11370']

In [10]:
#opening the pandas file with all the metadata!
all_data = pd.read_csv("/Users/anuraglimdi/Desktop/TnSeq_LTEE/ReferenceGenome/for_TnSeq_analysis/all_metadata_REL606.txt", sep="\t")
names = all_data.iloc[:,0]
gene_start = all_data.iloc[:,3]
gene_end = all_data.iloc[:,4]
strand = all_data.iloc[:,5]
locations = np.transpose(np.vstack([gene_start,gene_end,strand]))
k12_tags = all_data.iloc[:,2]
uniprot_rel606 = all_data.iloc[:,6]

In [11]:
prokka_tags = all_data.iloc[:,1]

In [34]:
product = all_data.iloc[:,-1]

In [12]:
#list of genes to be excluded from analysis as they lie within large deletions
#exclude_genes = np.loadtxt("/Users/anuraglimdi/Desktop/TnSeq_LTEE/ReferenceGenome/for_TnSeq_analysis/excluded_genes_REL606_k12annotated.txt")

In [13]:
#fractions of the gene at the 5' and 3' ends to be excluded from analysis because they insertions there may not actually
#be disruptive to protein function
#frac5p = 0.1
#frac3p = 0.25

## In this notebook, I'm going to identify genes that have one (and only one) extra homolog in the genome.
I'm using the output of mmseqs2, which was used in the E. coli essentiality paper (Rousset et al). It basically has the locus name for each set of genes that it detects as homologs.

In [14]:
with open(metadata_path+'/homologs_cluster_anc.tsv') as w:
#     homologs_naive = w.readlines().split('\n')
    homologs_naive = w.readlines()

In [15]:
homologs_naive = pd.read_csv('/Users/anuraglimdi/Desktop/TnSeq_LTEE/ReferenceGenome/homologs_mmseqs2/tsv_output/homologs_cluster_anc.tsv',header=None,delimiter='\t')

Annoyingly enough, mmseq2 writes every gene as a homolog of itself, so I'm discarding those rows of the pandas dataframe.

In [16]:
self_filtered = homologs_naive.loc[(homologs_naive[0]!=homologs_naive[1]), (0,1)]

In [17]:
self_filtered

                   0               1
16    FJKNNBLA_00555  FJKNNBLA_00397
17    FJKNNBLA_00555  FJKNNBLA_01802
18    FJKNNBLA_00555  FJKNNBLA_00015
19    FJKNNBLA_00555  FJKNNBLA_02671
28    FJKNNBLA_00825  FJKNNBLA_03484
...              ...             ...
4259  FJKNNBLA_02943  FJKNNBLA_01002
4270  FJKNNBLA_03273  FJKNNBLA_03969
4278  FJKNNBLA_03498  FJKNNBLA_00553
4279  FJKNNBLA_03498  FJKNNBLA_02672
4302  FJKNNBLA_04299  FJKNNBLA_02062

[421 rows x 2 columns]

Now that we've removed self homologs, called trivially, we next remove all loci which are excluded from our analysis (i.e. not in the prokka_tags list. Most of these instances are likely of insertion element/transposon related genes, which is something we don't want in our analysis)

In [18]:
final_filtered = self_filtered[(self_filtered[0].isin(prokka_tags)) & (self_filtered[1].isin(prokka_tags))]

final_filtered contains all the instances of homologs which are present in the set of 4017 CDS we have included in our analysis

In [20]:
#number of unique genes in the first column
len(set(final_filtered[0]))

251

In [21]:
#number of unique genes in the second column
len(set(final_filtered[1]))

330

In [22]:
final_filtered

                   0               1
28    FJKNNBLA_00825  FJKNNBLA_03484
29    FJKNNBLA_00825  FJKNNBLA_01476
30    FJKNNBLA_00825  FJKNNBLA_03413
44    FJKNNBLA_01310  FJKNNBLA_01389
45    FJKNNBLA_01310  FJKNNBLA_03536
...              ...             ...
4259  FJKNNBLA_02943  FJKNNBLA_01002
4270  FJKNNBLA_03273  FJKNNBLA_03969
4278  FJKNNBLA_03498  FJKNNBLA_00553
4279  FJKNNBLA_03498  FJKNNBLA_02672
4302  FJKNNBLA_04299  FJKNNBLA_02062

[330 rows x 2 columns]

In [23]:
set(final_filtered[0]) & set(final_filtered[1])

set()

Interestingly, the way this is organized is that duplicates are always in the 0 column. Note that all the genes in the second column are unique, and not overlapping with any genes in column 1. 

So what I can do is find all the genes which are present only once in the 0 column -> they would have exactly one homolog in the rest of the E. coli genome. These sets of genes can used to test the hypiothesis that losing the only other homologous copy of the gene can lead to them becoming essential.

In [24]:
homologs_onlyOnce = final_filtered.drop_duplicates(subset=0, keep=False)

In [25]:
homologs_onlyOnce

                   0               1
72    FJKNNBLA_02152  FJKNNBLA_00823
205   FJKNNBLA_01149  FJKNNBLA_00886
233   FJKNNBLA_01961  FJKNNBLA_01306
292   FJKNNBLA_03725  FJKNNBLA_01660
318   FJKNNBLA_00195  FJKNNBLA_03630
...              ...             ...
4250  FJKNNBLA_02650  FJKNNBLA_01844
4256  FJKNNBLA_02846  FJKNNBLA_02762
4259  FJKNNBLA_02943  FJKNNBLA_01002
4270  FJKNNBLA_03273  FJKNNBLA_03969
4302  FJKNNBLA_04299  FJKNNBLA_02062

[195 rows x 2 columns]

In [26]:
#creating a matrix where I indicate which set of genes are homologs. 
n_homologpairs = homologs_onlyOnce.shape[0]

In [27]:
homologs = np.zeros(len(names))

In [36]:
prokka_locus = list(prokka_tags)
for k in range(0,n_homologpairs):
    copy0 = homologs_onlyOnce.iloc[k,0]
    copy1 = homologs_onlyOnce.iloc[k,1]
    #setting values in homolog pairs to non-zero: each homolog pair has a unique value assigned to it
    homologs[prokka_locus.index(copy0)] = k+1
    homologs[prokka_locus.index(copy1)] = k+1

In [29]:
np.sum(homologs!=0)

390

### Writing the data to file. 

NOTE: There is no need to write to file, as this data already exists in the github repository. If you want to modify the code and overwrite the existing files, uncomment the following code block

In [30]:
savepath = str(repo)+'/Analysis/Part_3_TnSeq_analysis/Processed_data_for_plotting/'

In [31]:
# np.savetxt(savepath+'homologs_two.txt', homologs)

### Creating a master spreadsheet of all the gene pairs with exactly one other homolog.

Format similar to the metadata output file except:

- gene_1, locus_tag, uniprot_ID, product, gene_2, locus_tag, uniprot_ID, product

In [33]:
savepath2 = str(repo)+'/Analysis/Supplementary_tables'

In [40]:
# with open(savepath2+"/homolog_pairs_info.tsv", 'w') as out:
#     #first, writing the header
#     out.write("Homolog 1\tLocus Tag 1\tUniprot ID 1\tProduct 1\tHomolog 2\tLocus Tag 2\tUniprot ID 2\tProduct 2\t\n")
#     for i in range(n_homologpairs):
#         copy1 = np.where(homologs==i+1)[0][0]
#         copy2 = np.where(homologs==i+1)[0][1]
        
#         out.write(f"{names[copy1]}\t{prokka_locus[copy1]}\t{uniprot_rel606[copy1]}\t{product[copy1]}\t{names[copy2]}\t{prokka_locus[copy2]}\t{uniprot_rel606[copy2]}\t{product[copy2]}\n")